@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: normal;
    background:  #696969;
    color: #000000;
}

.info-text p {
    font-style: italic;
    font-weight: bold;
    color: aqua;
}

h3 {color: red;}